[Unit]
Description=Gunicorn instance to serve app
After=network.target

[Service]
WorkingDirectory=/opt/Flask_APP/server_status
Environment="PATH=/opt/Flask_APP/server_status:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:/opt/Flask_APP/server_status/app.sock -t 600 wsgi --error-logfile /opt/Flask_APP/server_status/error.log

[Install]
WantedBy=multi-user.target
