<html>
        <head>
                <title>Server Status - Central GUI</title>
                <script type="text/javascript" src="/static/date_time.js"></script>
                <link type="text/css" rel="stylesheet" href="/static/table_style.css">
        </head>

        <body>
                <!-- <h3 align='center'><a href="{{ url_for('main_gui') }}">Server Status - Central GUI</a></h3> -->
                {% for message in get_flashed_messages() %}
                        {{ message }}
                {% endfor %}
        <div class="table-wrapper">
        <!-- <span id="date_time"></span>
        <script type="text/javascript">window.onload = date_time('date_time');</script> -->
        <table border='1' align='center' class="fl-table">
                <thead>
                        <tr>
                                <th colspan="6">SERVER STATUS -- CENTRAL GUI</th>
                        </tr>
                        <tr>
                                <th colspan="6"><span id="date_time"></span></th>
                                <script type="text/javascript">window.onload = date_time('date_time');</script>
                        </tr>
                        <tr align='center'>
                                <th>SNo</th>
                                <th>Server IP</th>
                                <th>Application</th>
                                <th>Server Type</th>
                                <th>Monitor Time</th>
                                <!-- <th>Indicator</th> -->
                                <th>Color</th>
                        </tr>
                </thead>
                <tbody>
                        {% for server_data in server_details %}
                        {% set ip_addrs = server_data.server_ip %}

                        {% if server_data.amber_color == "c_green" %}
                                {% set indicator_img = "static/green_indicator.png" %}
                        {% elif server_data.amber_color == "a_red" %}
                                {% set indicator_img = "static/red_indicator.png" %}
                        {% elif server_data.amber_color == "b_yellow" %}
                                {% set indicator_img = "static/yellow_indicator.png" %}
                        {% else %}
                                {% set indicator_img = "static/blue_indicator.png" %}
                        {% endif %}

                        <tr align='center'>
                                <td>{{ loop.index }}</td>
                                <td><a href="{{ url_for('display_server_data', ip=ip_addrs) }}" target='_blank'>{{ server_data.server_ip }}</a></td>
                                <td>{{ server_data.application }}</td>
                                <td>{{ server_data.server_type }}</td>
                                <td>{{ server_data.monitor_time }}</td>
                                <!-- <td>{{ server_data.amber_color }}</td> -->
                                <td><a href="{{ url_for('indicator_data', server_ip_ind = ip_addrs) }}" target="_blank"><input type='image' title='amber_color' src="{{ indicator_img }}" name='indicator_color'></a></td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
        <br><br><br>
        <table border='1' align='center' class="fl-table">
                <thead>
                        <tr>
                                <th height="20">Category</th>
                                <th>No issue found</th>
                                <th>Java, Mysql, O3 Processes</th>
                                <th>Disk Space, Free Memory, Load Average</th>
                        </tr>
                </thead>
                <tbody>
                        <tr align='center'>
                                <td height="20">Color</td>
                                <td height="20"><input type='image' title='category_color' src='static/green_indicator.png'</td>
                                <td height="20"><input type='image' title='category_color' src='static/red_indicator.png'</td>
                                <td height="20"><input type='image' title='category_color' src='static/yellow_indicator.png'</td>

                        </tr>
                </tbody>
                </thead>
        </table>
        </div>
        </body>
</html>
